<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Jessie Siat</title>

    <link rel="stylesheet" href="{{ root }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ root }}/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="https://jessiesiat.github.com/">Jessie Siat</a></h1>
        <p>PHP, Web Development and so on..</p>
        <p class="view"><a href="https://github.com/jessiesiat">View My GitHub Profile</a></p>
      </header>

      <section>
	      <h3><a href="{{ post.url }}" class="post">{{ page.title }}</a></h3>
	      {{ content }}
      </section>

      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>

    <script src="{{ root }}/javascripts/scale.fix.js"></script>
    
  </body>
</html>