<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Jessie Siat</title>

    <link rel="stylesheet" href="{{ root }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ root }}/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="http://jessiesiat.github.com/">Jessie Siat</a></h1>
        <p>PHP, Web Development and so on..</p>
        <p><a href="https://github.com/jessiesiat" title="View My Github Profile">
          View My Github Profile</a></p>
        <p class="view">Twitter <a href="https://twitter.com/jessiesiat">@jessiesiat</a>
        <br/>
        <a href="https://twitter.com/jessiesiat" class="twitter-follow-button" data-show-count="false">Follow @jessiesiat</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </p>
      </header>

      <section>
	      <h2><a href="{{ post.url }}" class="post">{{ page.title }}</a></h2>
	      {{ content }}
      
        {% if page.comments %}
    
          <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'jessiesiat'; // required: replace example with your forum shortname

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

        {% endif %}
      </section>

      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>

    <script src="{{ root }}/javascripts/scale.fix.js"></script>
    
  </body>
</html>